span {
  margin-right: 1rem;
}

.navbar {
  position: relative;
  justify-content: center;
}

.icon {
  position: absolute;
  right: 20px;
}

.league__img {
  max-width: 70px;
  max-height: 80px;
  margin-right: 5px;
  text-align: center;
}