<mat-toolbar color="primary" class="navbar">
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" color="warn">
    <mat-button-toggle value="england" color="warn">
      <img class="league__img" src="https://media.api-football.com/leagues/2.png">Англия
    </mat-button-toggle>
    <mat-button-toggle value="germany" color="warn">Германия</mat-button-toggle>
    <mat-button-toggle value="spain" color="warn">Испания</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-icon class="icon">eco</mat-icon>
</mat-toolbar>