<div class="games__list">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <img src="https://media.api-football.com/teams/529.png" class="team__logo">
      <span class="first">Barcelona</span>
      <span>-</span>
      <img src="https://media.api-football.com/teams/541.png" class="team__logo">
      <span class="second">Real Madrid</span>
    </mat-expansion-panel-header>
    <div class="score__forms">
      <mat-form-field class="score__form">
        <input matInput placeholder="Barcelona" class="score__input">
      </mat-form-field>
      <mat-form-field class="score__form">
        <input matInput placeholder="Real" class="score__input">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</div>
