<mat-sidenav-container class="sidebar__container" fullscreen>
  <mat-sidenav #sidenav mode="over">
    <p><button mat-button (click)="sidenav.toggle()" class="toggle__button"><mat-icon>menu</mat-icon></button></p>
    <ul class="pages__list">
      <li class="list__item"><a routerLink="/games" class="link" (click)="sidenav.toggle()">Текущий тур</a></li>
      <li class="list__item"><a routerLink="/history" class="link" (click)="sidenav.toggle()">История</a></li>
      <li class="list__item"><a href="#" class="link">Таблица</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <p><button mat-button (click)="sidenav.toggle()" class="toggle__button">
          <mat-icon>menu</mat-icon>
      </button></p>
      <button mat-button class="login__button">Войти</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <app-leagues-nav (menuClick)="sidenav.toggle()"></app-leagues-nav> -->
  </mat-sidenav-content>
</mat-sidenav-container>
