<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <img src="{{ game.homeTeam.logo }}" class="team__logo">
      <span class="first">{{ game.homeTeam.team_name }}</span>
      <span>-</span>
      <img src="{{ game.awayTeam.logo }}" class="team__logo">
      <span class="second">{{ game.awayTeam.team_name }}</span>
    </mat-panel-title>
    <mat-panel-description>
      {{ forecast }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-add-forecast [game]="game"></app-add-forecast>
</mat-expansion-panel>
