.team__logo {
  margin-right: 10px;
  max-width: 25px;
  max-height: 25px;
}

span {
  margin-right: 1rem;
}

.correct_score {
  color: green;
}

.wrong_score {
  color: red;
}

.partially_score {
  color: orange;
}

.score {
  font-weight: 700;
}