<div class="score__forms" [formGroup]="form">
  <mat-form-field class="score__form">
    
    <input matInput
      placeholder="{{ game.homeTeam.team_name }}"
      class="score__input"
      type="number"
      min=0
      formControlName="goalsHomeTeam">
      
  </mat-form-field>
  <mat-form-field class="score__form">
    
    <input matInput
      placeholder="{{ game.awayTeam.team_name }}"
      class="score__input"
      type="number"
      min=0
      formControlName="goalsAwayTeam">
  
  </mat-form-field>
</div>
<button mat-button
  color="accent"
  class="add-forecast__button"
  [disabled]="form.pristine || form.invalid">Отправить</button>

